

  <li class="sidebar-item"><%= link_to "Artists Overview", artists_path, class: "sidebar-link" %></li>


      <div class="row">
        <% @artists.each do |artist| %>
        <!-- <div class="col-sm-6 col-md-4">
          <div class="thumbnail"> -->

          <div class="col-sm-6 col-md-4">
            <h3><%=artist.name %></h3>
          </div>
           <p><%= link_to "View", artist, class: "btn btn-default" %> </p>
              </div>
            </div>

        <% end %>
      
