
<div class="container-fluid">
          <div class="row-fluid">
  <%@artists.each do |artist|%>
<div class="span2">
    <div class="thumbnail">
      <%if artist.photos.first%>
      <%= image_tag artist.photos.first.image.thumbnail %>
      <%else%>
      <img alt="Artist picture" style="height: 150px; width: 150px; display: block;" >
      <%end%>
           <h3><%= link_to "View", artist, class: "btn btn-default" %> </h3>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        
